<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8">

  <link rel="stylesheet" href="/hara.css" />

  <title>{% if page -%}{{ page.title }} | {% endif %} {{ config.title }} </title>

</head>

<body>
  <header>
    <div class="logo">
        <a href="/">{{ config.title }}</a>
    </div>
    <nav>
      <ul>
        <li><a href="/who-am-i/">我是誰？</a></li>
        <li><a href="/the-technique-of-self-enquiry/">參究自我的技巧</a></li>
        <li><a href="/the-essence-of-spiritual-practice/">靈修的精髓</a></li>
        <li><a href="/eleven-verses-on-self-inquiry/">參究自我</a></li>
        <li><a href="/forty-verses-on-renunciation/">出離</a></li>
      </ul>
    </nav>
  </header>
  {% block content -%}  {% endblock content -%}

  <footer>
    @ atma-vichara
  </footer>

</body>

</html>
